{% extends 'base.html' %}


{% block title %}
    {{ block.super }} Головна
{% endblock %}

{% block content %}
  <div>
    <p class="text-center h3 m-3">РАДІ ВІТАТИ ВАС НА САЙТІ НАШОГО ЗАКЛАДУ ДОШКІЛЬНОЇ ОСВІТИ!</p>
    <p class="text-justify font-weight-bold m-1">На сайті Ви знайдете інформацію про наш заклад освіти, про
      вихователів та спеціалістів, які працюють в закладі, про все те нове та
      цікаве, що відбувається в нашому закладі.</p>

    <p class="text-justify m-1"> Заклад дошкільної освіти (ясла-садок) комбінованого типу № 145
      &quot;Дружна сімейка&quot; Запорізької міської ради для дітей віком від одного до
      шести (семи) років (для дітей з особливими освітніми потребами - від одного
      до семи (восьми) років), у складі якого можуть бути утворені групи
      загального розвитку, компенсуючого типу (спеціальні групи для дітей з
      порушеннями мовлення; санаторні групи для дітей з ранніми проявами
      туберкульозної інфекції), інклюзивні, сімейні, прогулянкові, в яких
      забезпечується дошкільна освіта відповідно до вимог Базового компонента
      дошкільної освіти та з урахуванням стану здоров’я дітей, їх розумового,
      психологічного, фізичного розвитку.</p>
  </div>
  <div class="row mt-3">
    <div class="col-12 col-xl-3">
      <p class="">Адреса: 69005, м. Запоріжжя, бульвар Центральний, 16А</p>
      <p class="">Телефон: (061) 226-51-46,226-52-32</p>
      <p class="">E-mail: dnz_145@ ukr.net</p>
      <p class="">Режим роботи: понеділок - п&#39;ятниця. 06.30 - 18.30</p>

      <p class="">Директор Шелемаха Алла Анатоліївна</p>
      <p class="">ЧАСИ ПРИЙОМУ:<br/>понеділок 07.00 - 11.00<br/>середа 15.30 - 17.30</p>
    </div>
    <div class="col-12 col-xl-8 offset-xl-1">
      <iframe width="412" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" src="https://maps.google.com/maps?width=412&amp;height=400&amp;hl=en&amp;q=%D0%91%D1%83%D0%BB%D1%8C%D0%B2%D0%B0%D1%80%20%D0%A6%D0%B5%D0%BD%D1%82%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D0%B8%D0%B9%2016%D0%90%20%D0%97%D0%B0%D0%BF%D0%BE%D1%80%D0%BE%D0%B6%D1%8C%D0%B5+(%D0%94%D0%94%D0%A3%20%E2%84%96145%20%D0%94%D0%A0%D0%A3%D0%96%D0%9D%D0%90%D0%AF%20%D0%A1%D0%95%D0%9C%D0%AC%D0%AF)&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe> <a href='http://maps-generator.com/ru'>maps-generator.com</a> <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=4b872a3d7bbe144dca94d4eb9e2a0c0cdfcee202'></script>
    </div>
  </div>
  
  <div>
    <p class="text-center h3 m-3">Електронна реєстрація в ЗДО</p>
    <p class="text-center m-3">Шановні батьки!</p>
    <p class="text-justify m-1"> Ви маєте можливість зареєструвати Вашу дитину до нашого ЗДО через
      мережу Інтернет.
      Для подачі заявки на реєстрацію Вам необхідно зареєструватися на сайті
      https://reg.isuo.org/preschools
      Після внесення всіх необхідних даних Ви можете стежити за перебігом
      електронної черги.</p>
  </div>

  <div>
    <p class="text-center h3 m-3">В нашому закладі використовують такі інструменти спілкування при дистанційному навчанні:</p>
    <ul>
      <li>Сайт ЗДО - некомерційний інтернет-ресурс, який призначений для
представлення інтересів закладу у глобальній мережі, отримання доступу
користувачів інтернету до інформаційних ресурсів, розвитку зв&#39;язків з
іншими організаціями, встановлення персональних контактів, а також для
отримання оперативної інформації всіма учасниками освітнього процесу.
Сайт є одним із інструментів забезпечення освітньої, просвітницької
діяльності ЗДО і є публічним органом інформації, доступ до якої відкритий
для всіх бажаючих;</li>
<li>Електронна пошта - це стандартний сервіс Інтернету, що забезпечує
передавання повідомлень;</li>
<li>Відеоконференція - це конференція реального часу в on-line режимі. Вона
проводиться у визначений день і в призначений час. Відеоконференція - один
із сучасних способів зв&#39;язку, що дозволяє проводити спілкування у
«віддалених групах». Отже, обговорення відбувається у режимі реального
часу. Педагог і діти та їх батьки можуть бачити один одного. Ми
використовуємо програму Zoom для організації відеоконференцій,
розроблену компанією Zoom Video Communication та Google Meet - це сервіс,
де можна проводити високоякісні й безпечні відеозустрічі та дзвінки, він
доступний для всіх користувачів і пристроїв;</li>
<li>Соціальна мережа Facebook, яка дозволяє створювати закриті та відкриті
канали, групи, чати, обговорення тем, завдань, проблем, інформації;</li>
<li>В кожній віковій групі створено групу з батьками в
мережі Viber або Telegram для надання рекомендацій щодо здійснення
освітньої роботи за окремими темами (фото-, аудіо-, відео-, письмово тощо)
та отримання фотозвітів (за бажанням батьків).</li>
    </ul>
  </div>

{% endblock %}
